@use "../settings";
@use "../tools";

.todo-input {
	box-shadow: settings.$module-shadow;

	&__field {
		box-shadow: settings.$module-shadow;
		background-color: var(
			--input-background,
			settings.$dark-input-background
		);
		color: var(--input-color, settings.$dark-input-color);

		@include tools.themeTransition;

		border: none;
		border-radius: settings.$module-border-radius;
		outline-color: rgba(settings.$bright-blue, 0.66);

		box-sizing: border-box;
		display: block;
		width: 100%;
		min-height: 48px;
		padding: 12px 20px;
		padding-left: 48px;

		font-size: 11pt;

		&::placeholder {
			color: var(
				--input-color-placeholder,
				settings.$dark-input-placeholder
			);
		}
	}
}
