@use "../settings";
@use "../tools";

.todo-item {
	$parent: &;

	font-size: 0.8em;
	line-height: 1.2em;
	font-weight: normal;

	color: var(--item-color, settings.$dark-item-color);
	background-color: var(--item-background, settings.$dark-item-background);

	@include tools.themeTransition;

	box-sizing: border-box;
	width: auto;
	min-height: 52px;

	border-bottom: 1px solid
		var(--item-border-color, settings.$light-item-border-color);

	padding: 12px 20px;

	gap: 0.8em;

	@include tools.flexbox(row, stretch, center);

	&:first-of-type {
		border-top-left-radius: settings.$module-border-radius;
		border-top-right-radius: settings.$module-border-radius;
	}

	// &:last-of-type {
	// 	border-bottom-color: transparent;
	// 	border-bottom-left-radius: settings.$module-border-radius;
	// 	border-bottom-right-radius: settings.$module-border-radius;
	// }

	&__check {
		color: currentColor;
		background-color: transparent;

		@include tools.themeTransition;

		box-sizing: border-box;
		aspect-ratio: 1/1;
		width: 20px;
		height: 20px;
		display: grid;
		align-items: center;

		flex: initial;

		border: double 1px transparent;
		border-radius: 50%;
		background-image: linear-gradient(
				var(--item-background),
				var(--item-background)
			),
			linear-gradient(
				45deg,
				var(--item-border-color),
				var(--item-border-color)
			);
		background-origin: border-box;
		background-clip: content-box, border-box;
	}

	&__check-box {
		display: none;
	}

	&__check-img {
		display: none;
	}

	&__task {
		flex: auto;
	}

	&__delete {
		opacity: 0;
		flex: initial;
		transition: opacity settings.$transition-theme 0.1s,
			transform settings.$transition-theme 0.1s;

		aspect-ratio: 1/1;
		box-sizing: border-box;
		width: 20px;
		height: 20px;
		transform: translateX(20px);
	}

	&:hover {
		& #{$parent}__check {
			background-image: linear-gradient(
					var(--item-background),
					var(--item-background)
				),
				settings.$check-background;

			&:active {
				background-image: settings.$check-background,
					settings.$check-background;
			}
		}
		& #{$parent}__delete {
			transform: translateX(0);
			opacity: 1;
		}
	}

	&--completed {
		color: var(--item-color-completed, settings.$dark-item-color-completed);
		background: crimson;
	}
}
