@use "../settings";
@use "../tools";

/* TODO-FILTER : COMPONENTS */
.todo-filter {
	box-sizing: border-box;
	padding: 12px 24px;
	min-height: 52px;

	background-color: var(--footer-background, settings.$dark-item-background);
	color: var(--footer-color, settings.$dark-footer-color);
	font-size: 0.8em;
	font-weight: map-get($map: settings.$font-weights, $key: "bold");

	border-radius: var(--border-radius);

	box-shadow: settings.$module-shadow;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		@include tools.flexbox(
			$direction: row,
			$content: center,
			$items: stretch
		);
		gap: 0.2rem;
	}
}

.todo-filter__opt {
	display: inline-block;
	padding: 0.2em 0.5em;
	text-decoration: none;
	color: var(--footer-color, settings.$dark-footer-color);

	&:hover {
		color: var(--footer-color-hover, settings.$dark-footer-color-hover);
	}
	&#{&}--active {
		color: var(--bright-blue, settings.$bright-blue);
		&:hover {
			text-shadow: 0 0 20px currentColor;
		}
	}
}
