// Typography
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

// Body Copy
$font-size: 18px !default;

//	Font
$font-family: "josefin sans", sans-serif !default;
$font-weights: (
	"regular": 400,
	"bold": 700,
) !default;
