// @use "sass:map";
@use "../settings";

:root {
	// Variables
	--border-radius: #{settings.$module-border-radius};

	// layout
	--layout-mobile: #{map-get(settings.$layout-size, "mobile")};
	--layout-desktop: #{map-get(settings.$layout-size, "desktop")};

	// PRIMARY
	--bright-blue: #{settings.$bright-blue};
	--blue-gradient: #{settings.$blue-gradient};
	--purple-gradient: #{settings.$purple-gradient};

	--check-background: #{settings.$check-background};

	//### Light Theme Tokens

	--light-theme_very-light-gray: #{settings.$light-theme_very-light-gray};
	--light-theme_very-light-grayish-blue: #{settings.$light-theme_very-light-grayish-blue};
	--light-theme_light-grayish-blue: #{settings.$light-theme_light-grayish-blue};
	--light-theme_dark-grayish-blue: #{settings.$light-theme_dark-grayish-blue};
	--light-theme_very-dark-grayish-blue: #{settings.$light-theme_very-dark-grayish-blue};

	///### Dark Theme Tokens

	$dark-theme_very-dark-blue: hsl(235, 21%, 11%) !default;
	$dark-theme_very-dark-desaturated-blue: hsl(235, 24%, 19%) !default;
	$dark-theme_light-grayish-blue: hsl(234, 39%, 85%) !default;
	$dark-theme_light-grayish-blue-hover: hsl(236, 33%, 92%) !default;
	$dark-theme_dark-grayish-blue: hsl(234, 11%, 52%) !default;
	$dark-theme_very-dark-grayish-blue: hsl(233, 14%, 35%) !default;
	$dark-theme_much-darker-grayish-blue: hsl(237, 14%, 26%) !default;
}

/*	APP LIGHT THEME	*/
html[data-theme="light"],
html[data-theme*="light"],
html[data-theme~="light" i] {
	--app-background: #{settings.$light-app-background};
	--app-color: #{settings.$light-app-color};

	--header-color: #{settings.$light-header-color};
	--header-image-mobile: #{map-get(settings.$header-image, "mobile-light")};
	--header-image-desktop: #{map-get(settings.$header-image, "desktop-light")};

	--input-background: #{settings.$light-item-background};
	--input-color: #{settings.$light-input-color};
	--input-placeholder: #{settings.$light-input-placeholder};

	--item-background: #{settings.$neutral-white};
	--item-color: #{settings.$light-item-color};
	--item-color-completed: #{settings.$light-item-color-completed};
	--item-border-color: #{settings.$light-item-border-color};

	--footer-background: #{settings.$light-footer-background};
	--footer-color: #{settings.$light-footer-color};
	--footer-color-hover: #{settings.$light-footer-color-hover};
	--footer-color-active: #{settings.$light-footer-color-active};
}

/*	APP DARK THEME - default	*/
html[data-theme="dark"],
html[data-theme*="dark"],
html[data-theme~="dark" i] {
	--app-background: #{settings.$dark-app-background};
	--app-color: #{settings.$dark-app-color};

	--header-color: #{settings.$dark-header-color};
	--header-image-mobile: #{map-get(settings.$header-image, "mobile-dark")};
	--header-image-desktop: #{map-get(settings.$header-image, "desktop-dark")};

	--input-background: #{settings.$dark-item-background};
	--input-color: #{settings.$dark-input-color};
	--input-placeholder: #{settings.$dark-input-placeholder};

	--item-background: #{settings.$dark-item-background};
	--item-color: #{settings.$dark-item-color};
	--item-color-completed: #{settings.$dark-item-color-completed};
	--item-border-color: #{settings.$dark-item-border-color};

	--footer-background: #{settings.$dark-footer-background};
	--footer-color: #{settings.$dark-footer-color};
	--footer-color-hover: #{settings.$dark-footer-color-hover};
	--footer-color-active: #{settings.$dark-footer-color-active};
}
