@use "../settings" as settings;

/*	01 - minxins.scss */
@mixin flexbox(
	$direction: column,
	$content: center,
	$items: center,
	$wrap: nowrap,
	$basis: auto,
	$shrink: 1,
	$grow: 0
) {
	display: flex;
	flex-direction: $direction;
	justify-content: $content;
	align-items: $items;
	flex-wrap: $wrap;
	flex-basis: $basis;
	flex-shrink: $shrink;
	flex-grow: $grow;
}

@mixin toggleThemeIcons(
	$icoPath: "",
	$transformX: 50%,
	$transformY: 100%,
	$transformZ: 0
) {
	content: "";
	opacity: 0;
	background: transparent url($icoPath) no-repeat 50% 50% / 90% 90%;
	// transition: 0.66s all ease-in-out;
	transition: 0.66s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	// max-width: 20px;
	// max-height: 20px;
	background-size: 20px;
	transform-origin: $transformX $transformY;
	transform: rotate(-90deg);
}
